.chat-main
  .main-header
    .main-header__left
      %p.main-header__left__group-info
        yunyun
      %ul.main-header__left__member-lists
        Member : 
        %li.main-header__left__member-list
          ゆん
    = link_to "#" do
      .main-header__edit-btn
        Edit
  .main-messages
    .main-message
      .main-message__chat-list
        %p.main-message__chat-list__entrant
          ゆん
        %p.main-message__chat-list__date
          2019/12/12(Thu)20:35:22
      %p.main-message__text
        こんばんは!!
    .main-message
      .main-message__chat-list
        %p.main-message__chat-list__entrant
          ゆん
        %p.main-message__chat-list__date
          2019/12/12(Thu)20:35:22
      %p.main-message__text
        こんばんは!!
    .main-message
      .main-message__chat-list
        %p.main-message__chat-list__entrant
          ゆん
        %p.main-message__chat-list__date
          2019/12/12(Thu)20:35:22
      %p.main-message__text
        こんばんは!!
    .main-message
      .main-message__chat-list
        %p.main-message__chat-list__entrant
          ゆん
        %p.main-message__chat-list__date
          2019/12/12(Thu)20:35:22
      %p.main-message__text
        こんばんは!!
    .main-message
      .main-message__chat-list
        %p.main-message__chat-list__entrant
          ゆん
        %p.main-message__chat-list__date
          2019/12/12(Thu)20:35:22
      %p.main-message__text
        こんばんは!!
    .main-message
      .main-message__chat-list
        %p.main-message__chat-list__entrant
          ゆん
        %p.main-message__chat-list__date
          2019/12/12(Thu)20:35:22
      %p.main-message__text
        こんばんは!!
  .main-form
    %form.chat-main__message-form
      .input-box
        %input.input-box__text{placeholder: "type a message", type: "text"}/
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
    %input.submit-btn{type: "submit", value: "Send"}
          
